.Nav {
    display: flex;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 2em;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.25);
}

.Nav > h2 {
    margin-left: 2em;
}
