.Nav {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.25);
}

.Nav > * {
    margin-left: 2em;
}

.shorty {
    width: 32ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}