body {
  font-family: Arial;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.Responsive {
  margin: auto;
  padding: 1.5ch;
  max-width: 75%;
  width: 40em;
}

.addBookForm {
  margin-bottom: 5em;

}
.addBookForm > form > input {
  margin-bottom: 1.5ch;
}

.addBookForm > form > textarea {
  width: 100%;
  max-width: 100%;
  height: 16ch;
  max-height: 16ch;
}

.ExpandedBook {
  margin-bottom: 1em;
  background-color: #fff;
  border-radius: 15px;
  transition: 0.1s;
  padding: 1.5ch;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.25);
}

.ExpandedBook > div {
  margin: 1.5ch;
  text-align: left;
}

.ExpandedBook > img {
  border-radius: 15px;
  width: 100%;
}

.ExpandedBook > .Info {
  padding-left: 1.5ch;
  padding-right: 1.5ch;
}

.Book {
  position: relative;
  cursor: pointer;
  display: flex;
  margin-bottom: 1em;
  background-color: #fff;
  border-radius: 15px;
  transition: 0.1s;
  max-height: 256px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.25);
  overflow: hidden;
}

.Book > div > p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 64px;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,0.25), white);
}

.Book:hover {
  transition: 0.1s;
}

.Book > div {
  width: 100%;
  padding-top: 1em;
  padding-left: 4ch;
  padding-right: 4ch;
  text-align: left;
  justify-content: center;
}

.Book > img {
  border-radius: 0 15px 15px 0;
  height: auto;
  width: auto;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .Book > img {
    display: none;
  }
}

.Button {
  cursor: pointer;
  background-color: #555555af;
  color: #f0f0f0;

  margin-top: 1.5ch;
  padding: 1.5ch;
  width: 100%;

  border: 0;
  border-radius: 5px;
  
  text-transform: uppercase;
}

.Nav {
  display: flex;
  justify-content: left;
  margin-top: 0;
  margin-bottom: 2em;
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.25);
}

.Nav > h2 {
  margin-left: 2em;
}
